@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="msg">
    <div class="msg-show" id="msgs"></div>
</div>

<div class="msg-field">
    <input type="text" style="max-width: unset; width: 100%; max-width: 100%; bottom: 10px;" id="MessageField" placeholder="type message and press enter" />
</div>

@section Scripts {
    <script>
    $(function () {
        var userName = '@Model';

        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);
        socket.onopen = e => {
            console.log("socket opened", e);
        };

        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            console.log(e);
            $('#msgs').append(e.data + '<br />');
        };

        socket.onerror = function (e) {
            console.error(e.data);
        };

        $('#MessageField').keypress(function (e) {
            if (e.which != 13) {
                return;
            }

            e.preventDefault();

            var message = userName + ": " + $('#MessageField').val();
            socket.send(message);
            $('#MessageField').val('');
        });
    });
    </script>
}