@model string
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        margin: 0px;
        padding: 0px;
    }

    .msg {
        position: absolute;
        top: 80px;
        left: 350px;
        bottom: 30px;
        border: 0.5px solid black;
        margin-bottom: auto;
        display: block;
        overflow: scroll;
        width: 50%;
        height: 50%;
        white-space: nowrap;
    }

    .msg-show {
        position: absolute;
        bottom: 10px;
        margin-left: 10px;
    }

    .msg-field {
        position: absolute;
        height: 30px;
        left: 350px;
        top: 420px;
        display: block;
        width: 50%
    }
</style>
<div class="msg">
    <div class="msg-show" id="msgs"></div>
</div>

<div class="msg-field">
    <input type="text" style="max-width: unset; width: 100%; max-width: 100%; bottom: 10px;" id="MessageField" placeholder="type message and press enter" />
</div>

@section Scripts {
    <script>
    $(function () {
        var userName = '@Model';

        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);
        socket.onopen = e => {
            console.log("socket opened", e);
        };

        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            console.log(e);
            $('#msgs').append(e.data + '<br />');
        };

        socket.onerror = function (e) {
            console.error(e.data);
        };

        $('#MessageField').keypress(function (e) {
            if (e.which != 13) {
                return;
            }

            e.preventDefault();

            var message = userName + ": " + $('#MessageField').val();
            socket.send(message);
            $('#MessageField').val('');
        });
    });
    </script>
}