@{
    ViewData["Title"] = "InsertUserName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="@Url.Action("Index")" method="post">
    <input type="text" placeholder="Insert user name" name="userName" />
    <input type="submit" value="Enter" />
</form>