@{
    ViewData["Title"] = "InsertUserName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="@Url.Action("Index")" method="post">
    <div style="position:absolute; top: 400px; left: 800px;">
        <input type="text" placeholder="Insert user name" name="userName" />
        <input type="submit" value="Enter" />
    </div>
</form>